body {
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    background-color: #fafafa;
    margin-bottom: 100px;
}

header {
    padding-top: 14px;
    overflow: auto;
}

svg {
    left: 0;
    position: absolute;
    transform: translateX(calc(50vw - 27px)) translateY(40px) ;
    height: 100px;
    padding-bottom: 48px;

    transition: all 0.46s cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 0.46s cubic-bezier(.02, .01, .47, 1);
}

svg:hover > #key {
    fill: rgba(249, 219, 27, 0.2);
    opacity: 0.7;
}

#key {
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
}



h1 {
    margin-top: 170px;
    color: #333;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
}

.sub-title {
    font-size: 14px;
    color: #aaa;
}

.searchSection {
    position: relative;
    background-color: white;
    z-index: 2;
}

.search-box {
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

#searchString, #searchButton {
    height: 50px;
}

#searchString {
    border: none;
    box-shadow: inset 0 2px 13px -4px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #eee;
    width: 60%;
    max-width: 350px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

#searchString:focus {
    background-color: rgba(200, 210, 255, 0.1);
    box-shadow: inset 0 2px 13px -3px rgba(200, 210, 255, 0.5);
}

#searchButton {
    border-color: #eee;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;

    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

#searchButton:hover {
    background-color: #fafafa;
    color: #666;
}

.parameters {

}


/* SEARCH STYLES */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#search-list {
    margin: 8px auto;
}

.source {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #ccc;
    margin-bottom: 2px;
    margin-top: 8px;
    font-weight: 400;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

.search-item {
    cursor: pointer;
    margin: 6px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-duration:0.6s;

    -moz-animation:fadeIn ease-in 1;
    -moz-animation-fill-mode:forwards;
    -moz-animation-duration:0.6s;

    background-color: white;
    box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.12);
    list-style: none;
    transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
}

.search-item:hover {
    background-color: #fcfcfc;
    transition: all 0.3s ease-out;
    transform: translateY(-2px) scale(1.03);
    -moz-transition: all 0.3s ease-out;
    -moz-transform: translateY(-2px) scale(1.03);
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.08);
}

.search-item:hover > .search-item-name {
    transform: scale(1.1) translateY(-6px);
}

.search-item:hover > .source {
    transform: scale(0.6) translateY(6px);
    opacity: 0;
}

.search-item:active {
    transform: translateY(-2px) scale(1.07);
    -moz-transition: all 0.15s ease-out;
    background-color: #f6f6f6;
}

.search-item-name {
    max-width: 90%;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    color: #333;
    font-weight: 700;
    font-size: 16px;
}

.pagination {
    width: 100%;
    opacity: 0;

    -webkit-animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-duration:1s;
    -webkit-animation-delay:3s;
    animation-delay:1s;

    -moz-animation:fadeIn ease-in 1;
    -moz-animation-fill-mode:forwards;
    -moz-animation-duration:1s;
    -moz-animation-delay:1s;
}

.page-button {
    margin-top: 12px;
    border-radius: 2px;
    border: none;
    background-color: #efefef;

    transition: all 0.3s ease-out;

    -moz-transition: all 0.3s ease-out;

}

.page-button:hover {
    background-color: #eee;
    box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.14);
    -moz-transform: translateY(-2px) scale(1.01);
    transform: translateY(-2px) scale(1.01);
}

/* Dataset-Title */

.dataset-title {
    position: absolute;
    width: 100%;
    transform: translateY(-100px);
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    color: #ccc;
    font-weight: 400;
    margin-top: 6px;
    padding: 24px 0;
    background-color: white;
    font-size: 24px;
}

.dataset-title span {
    color: #333;
    font-weight: 700;
}
