body {
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

header {
    padding-top: 70px
}

.key {
    height: 100px;
    padding-bottom: 48px;
}

h1 {
    color: #333;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
}

.sub-title {
    font-size: 14px;
    color: #aaa;
}

.searchSection {
    background-color: white;
}

.search-box {
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

#searchString, #searchButton {
    height: 50px;
}


#searchString {
    border: none;
    box-shadow: inset 0 2px 13px -4px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #eee;
    width: 60%;
    max-width: 350px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}

#searchButton {
    border-color: #eee;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

#searchButton:hover {
    background-color: #fafafa;
}

.parameters {

}


/* SEARCH STYLES */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.search-item {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-duration:1s;

    background-color: white;
    box-shadow: 0 2px 13px -2px rgba(0, 0, 0, 0.12);
    list-style: none;
    transition: all 0.3s ease-out;
}

.search-item:hover {
    transition: all 0.3s ease-out;
    transform: translateY(-2px);
    box-shadow: 0 2px 13px -2px rgba(0, 0, 0, 0.12);
}

.search-item-name {
    height: 60px;
    font-weight: 700;
    font-size: 18px;
}
