body {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

header {
    padding-top: 60px

}

.key {
    height: 200px;
    padding-bottom: 18px;
}

h1 {
    color: #333;
    font-weight: 700;
}

.parameters {
    display: none;
}
